<div class="card text-center">
  <div class="card-header">
    All classes.
  </div>
  <form>
  <div class="card-body">
    <div class="input-group">
      <select class="custom-select" id="selectedValue" name="selectedValue" required [(ngModel)]= "selectedValue">
        <option [ngValue]="null" selected>......اختر</option>
        <option [ngValue]="class.CGUID" *ngFor="let class of classes">{{class.ClassName}}</option>
      </select>
      <div class="input-group-append">
        <button class="btn btn-outline-secondary" type="button" (click)= "onSubmit()">الاكل</button>
        <button class="btn btn-outline-secondary" type="button" (click)= "onSubmit2()">النشاطات</button>
      </div>
    </div>
  </div>
</form>
  <div class="card-footer text-muted">
    {{errorValidate}}
  </div>
</div>