
<app-loading-spinner *ngIf= "showSpinner"></app-loading-spinner>
<div *ngIf = "kids?.length > 0; else noKids">
  <table class="table table-hover">
    <thead>
      <tr>
        <th>Code</th>
        <th>Kid name</th>
        <th></th>
      </tr>
    </thead>
    <tbody *ngFor="let kid of kids">
      <tr *ngIf = "kid.id === kidid" class="table-active">
        <td><button class="btn btn-outline-info">{{kid.id}}</button></td>
        <td>{{kid.Name}}</td>
        <td><button type="button" class="btn btn-primary" (click)= "onDetails(kid.KCGUID, kid.id)">Today Activity</button></td>
      </tr>
    </tbody>
  </table>

  <span class="container" style="text-align: center"><img src="../../../assets/img/breakfast.png" width="40" height="40">   For breakfast i had - {{kidService.date | date:'yyyy/MM/dd'}}</span>
  <table class="table table-hover table-sm" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">بسكويت</th>
        <th scope="col">عصير</th>
        <th scope="col">حلوى</th>
        <th scope="col">ساندوتش</th>
        <th scope="col">فاكهة</th>
        <th scope="col">أخرى</th>
      </tr>
    </thead>
    <tbody *ngFor="let eat of eatings; let ea = index">
      <tr>
        <td class="table-primary" *ngIf="eat.Biscuits; else notDataeat"><i style='font-size:24px' class='fas'>&#xf14a;</i></td>
        <td class="table-primary" *ngIf="eat.juice; else notDataeat"><i style='font-size:24px' class='fas'>&#xf14a;</i></td>
        <td class="table-primary" *ngIf="eat.Dessert; else notDataeat"><i style='font-size:24px' class='fas'>&#xf14a;</i></td>
        <td class="table-primary" *ngIf="eat.Sandwich; else notDataeat"><i style='font-size:24px' class='fas'>&#xf14a;</i></td>
        <td class="table-primary" *ngIf="eat.fruit; else notDataeat"><i style='font-size:24px' class='fas'>&#xf14a;</i></td>
        <td class="table-primary">{{eat.other}}</td>
        <ng-template #notDataeat><td class="table-primary"></td></ng-template>
      </tr>
    </tbody>
  </table>

  <span class="container" style="text-align: center"><img src="../../../assets/img/activity.png" width="40" height="40">   My activity today - {{kidService.date | date:'yyyy/MM/dd'}}</span>
  <table class="table table-hover table-sm" >
    <thead class="thead-dark">
      <tr>
        <th scope="col">From</th>
        <th scope="col">To</th>
        <th scope="col">Activity</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let event of events; let i = index">
        <td class="table-primary">{{event.timefrom}}</td>
        <td class="table-primary">{{event.timeto}}</td>
        <td class="table-primary">{{event.txtactivity}}</td>
      </tr>
    </tbody>
  </table>



</div>

<ng-template #noKids>
<hr>
<h5>There are no kids to list</h5>
</ng-template>

