<div><img src="../../../assets/img/addkids.png" width="200" height="200" class="rounded mx-auto d-block"></div>
<div class="card text-center">
  <div class="card-header">
    <ul class="nav nav-tabs card-header-tabs">
      <li class="nav-item">
        <a class="nav-link active">Add new kid *</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" href="viewkids">View All Kids</a>
      </li>
    </ul>
  </div>
  <div class="card-body">

    <form #myForm="ngForm" (ngSubmit)='onSubmit()' novalidate>
      <div class="form-row">
        <div class="col-md-4 mb-3">
          <label for="id">Automatic generate code for new kid</label>
          <input [(ngModel)]='kids.id' name="id" type="text" class="form-control is-valid" id="id" placeholder="000000000000"
            style="text-align:center;" disabled>
          <div class="valid-feedback">
            Keep this code in save to give it to parent.
          </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="Name">Kid full name</label>
          <input [(ngModel)]='kids.Name' name="Name" type="text" #Name= "ngModel" [ngClass]= "{'form-control' : true, 'is-invalid' : !Name?.valid && Name?.touched,
          'is-valid' : Name?.valid && Name?.touched }" id="Name" direction:RTL
            placeholder="Kid arabic name" required minlength="5">
            <div *ngIf="Name?.errors?.required && Name?.touched" class="invalid-feedback">
              Required valid Name.
            </div>
            <div *ngIf="Name?.errors?.minlength && Name?.touched" class="invalid-feedback">
              Name required 5 character at least.
            </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="birthday">Birth Day</label>
          <input [(ngModel)]='kids.BirthDay' name="BirthDay" type="date" #BirthDay ="ngModel" [ngClass]= "{'form-control' : true, 'is-invalid' : !BirthDay?.valid && BirthDay?.touched,
          'is-valid' : BirthDay?.valid && BirthDay?.touched }" id="birthday" required>
          <div *ngIf="BirthDay?.errors?.required && BirthDay?.touched" class="invalid-feedback">
            Required valid Birth Day.
          </div>
          <div *ngIf="Name?.errors?.minlength && Name?.touched" class="invalid-feedback">
            Birth Day required 5 character at least.
          </div>
        </div>
      </div>
      <div class="form-row">
        <div class="col-md-6 mb-3">
          <label for="address">Address</label>
          <input [(ngModel)]='kids.Address' name="Address" type="text" #Address="ngModel" [ngClass]="{'form-control' : true, 'is-invalid' : !Address?.valid && Address?.touched,
          'is-valid' : Address?.valid && Address?.touched }" id="address" placeholder="Address in details"
            required minlength="2">
            <div *ngIf="Address?.errors?.required && Address?.touched" class="invalid-feedback">
              Required valid Address.
            </div>
            <div *ngIf="Address?.errors?.minlength && Address?.touched" class="invalid-feedback">
              Address required 2 character at least.
            </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="fatherName">Father Name</label>
          <input [(ngModel)]='kids.FatherName' name="FatherName" type="text" #FatherName= "ngModel" [ngClass]="{'form-control' : true, 'is-invalid' : !FatherName?.valid && FatherName?.touched,
          'is-valid' : FatherName?.valid && FatherName?.touched }" id="fatherName"
            placeholder="Full name arabic" required minlength="5">
            <div *ngIf="FatherName?.errors?.required && FatherName?.touched" class="invalid-feedback">
              Required valid Father Name.
            </div>
            <div *ngIf="FatherName?.errors?.minlength && FatherName?.touched" class="invalid-feedback">
              Father Name required 5 character at least.
            </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="fatherJop">Father jop</label>
          <input [(ngModel)]='kids.FatherJop' name="FatherJop" type="text" #FatherJop = "ngModel" [ngClass]="{'form-control' : true, 'is-invalid' : !FatherJop?.valid && FatherJop?.touched,
          'is-valid' : FatherJop?.valid && FatherJop?.touched }" id="fatherJop"
            placeholder="Father jop here" required minlength="2">
            <div *ngIf="FatherJop?.errors?.required && FatherJop?.touched" class="invalid-feedback">
              Required valid Father jop.
            </div>
            <div *ngIf="FatherJop?.errors?.minlength && FatherJop?.touched" class="invalid-feedback">
              Father jop required 2 character at least.
            </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="fatherPhone">Father Phone</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">+2</span>
            </div>
            <input [(ngModel)]='kids.FatherPhone' name="FatherPhone" type="text" #FatherPhone = "ngModel" [ngClass]="{'form-control' : true, 'is-invalid' : !FatherPhone?.valid && FatherPhone?.touched,
            'is-valid' : FatherPhone?.valid && FatherPhone?.touched }" id="fatherPhone"
              placeholder="Vodafon or Orang or Etisalat" aria-describedby="inputGroupPrepend3" required pattern="^[0-9]{11}">
              <div *ngIf="FatherPhone?.errors?.required && FatherPhone?.touched" class="invalid-feedback">
                Required valid Father Phone.
              </div>
              <div *ngIf="FatherPhone?.errors?.pattern && FatherPhone?.touched" class="invalid-feedback">
                Father mobile Phone required 11 numbers at least.
              </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="motherName">Mother Name</label>
          <input [(ngModel)]='kids.MotherName' name="MotherName" type="text" #MotherName="ngModel" [ngClass]= "{'form-control' : true, 'is-invalid' : !MotherName?.valid && MotherName?.touched,
          'is-valid' : MotherName?.valid && MotherName?.touched }" id="motherName"
            placeholder="Full name arabic" required minlength="5">
            <div *ngIf="MotherName?.errors?.required && MotherName?.touched" class="invalid-feedback">
              Required valid Mother Name.
            </div>
            <div *ngIf="MotherName?.errors?.minlength && MotherName?.touched" class="invalid-feedback">
              Mother Name required 5 character at least.
            </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="MotherJop">Mother jop</label>
          <input [(ngModel)]='kids.MotherJop' name="MotherJop" type="text" #MotherJop = "ngModel" [ngClass]="{'form-control' : true, 'is-invalid' : !MotherJop?.valid && MotherJop?.touched,
          'is-valid' : MotherJop?.valid && MotherJop?.touched }" id="MotherJop"
            placeholder="Mother jop here" required minlength="2">
            <div *ngIf="MotherJop?.errors?.required && MotherJop?.touched" class="invalid-feedback">
              Required valid Mother jop.
            </div>
            <div *ngIf="MotherJop?.errors?.minlength && MotherJop?.touched" class="invalid-feedback">
              Mother jop required 2 character at least.
            </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="motherPhone">Mother Phone</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text">+2</span>
            </div>
            <input [(ngModel)]='kids.MotherPhone' name="MotherPhone" type="text" #MotherPhone= "ngModel" [ngClass]="{'form-control' : true, 'is-invalid' : !MotherPhone?.valid && MotherPhone?.touched,
            'is-valid' : MotherPhone?.valid && MotherPhone?.touched }" id="motherPhone"
              placeholder="Vodafon or Orang or Etisalat" aria-describedby="inputGroupPrepend3" required pattern="^[0-9]{11}">
              <div *ngIf="MotherPhone?.errors?.required && MotherPhone?.touched" class="invalid-feedback">
                Required valid Mother Phone.
              </div>
              <div *ngIf="MotherPhone?.errors?.pattern && MotherPhone?.touched" class="invalid-feedback">
                Mother mobile Phone required 11 numbers at least.
              </div>
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="recipientName">Recipient Name</label>
          <input [(ngModel)]='kids.RecipientName' name="RecipientName" type="text" #RecipientName ="ngModel" [ngClass]="{'form-control' : true, 'is-invalid' : !RecipientName?.valid && RecipientName?.touched,
          'is-valid' : RecipientName?.valid && RecipientName?.touched } " id="recipientName"
            placeholder="Full name arabic like ID" required minlength="5">
            <div *ngIf="RecipientName?.errors?.required && RecipientName?.touched" class="invalid-feedback">
              Required valid Recipient Name.
            </div>
            <div *ngIf="RecipientName?.errors?.minlength && RecipientName?.touched" class="invalid-feedback">
              Recipient Name required 5 character at least.
            </div>
        </div>
        <div class="col-md-4 mb-3">
          <label for="RecipientPhone">Recipient Phone</label>
          <div class="input-group">
            <div class="input-group-prepend">
              <span class="input-group-text" id="recipientPhone">+2</span>
            </div>
            <input [(ngModel)]='kids.RecipientPhone' name="RecipientPhone" type="text" #RecipientPhone = "ngModel" [ngClass]="{'form-control' : true, 'is-invalid' : !RecipientPhone?.valid && RecipientPhone?.touched,
            'is-valid' : RecipientPhone?.valid && RecipientPhone?.touched }" id="RecipientPhone"
              placeholder="Vodafon or Orang or Etisalat" aria-describedby="inputGroupPrepend3" required pattern="^[0-9]{11}">
              <div *ngIf="RecipientPhone?.errors?.required && RecipientPhone?.touched" class="invalid-feedback">
                Required valid Recipient Phone.
              </div>
              <div *ngIf="RecipientPhone?.errors?.pattern && RecipientPhone?.touched" class="invalid-feedback">
                Recipient mobile Phone required 11 numbers at least.
              </div>
          </div>
        </div>

        <div class="col-md-3 mb-3">
          <label for="DepartName">Select depart</label>
          <select name="DepartName" class="form-control" id="DepartName" [(ngModel)]='kids.DepartName'>
            <option [ngValue]="null">Choose depart</option>
            <option *ngFor="let Depart of Departs" [ngValue]="Depart.Name">{{ Depart.Name }}</option>
          </select>
          <div class="invalid-feedback">
            Please provide a valid Depart Name.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="classes">Class Name</label>
          <input [(ngModel)]='kids.ClassName' name="ClassName" type="text" #ClassName="ngModel" [ngClass]="{'form-control' : true, 'is-invalid' : !ClassName?.valid && ClassName?.touched,
        'is-valid' : ClassName?.valid && ClassName?.touched } "
            id="classes" placeholder="Type right class name case sensitive" required minlength="2">
          <div *ngIf="ClassName?.errors?.required && ClassName?.touched" class="invalid-feedback">
            Required valid class Name.
          </div>
          <div *ngIf="ClassName?.errors?.minlength && ClassName?.touched" class="invalid-feedback">
            Class Name required 2 character at least.
          </div>
        </div>
        <div class="col-md-3 mb-3">
          <label for="Note">Note</label>
          <!-- <input [(ngModel)] ='kids.Note' name="Note" type="text" class="form-control " id="Note" placeholder="Type your comment or note here"> -->
          <textarea [(ngModel)]='kids.Note' name="Note" rows="1" class="form-control " id="Note" placeholder="Type your comment or note here"></textarea>
          <div class="invalid-feedback">
            Please provide a valid Note.
          </div>
        </div>
      </div>

      <div class="form-group">
        <div class="form-check">
          <input  Class="form-check-input" type="checkbox" id="Agree" name="Agree" required checked> 
          <label class="form-check-label " for="Agree">
            Agree to <a href='addkid'>terms</a> and <a href='addkid'>conditions</a>
          </label>
          <div *ngIf="Agree?.errors?.required" class="invalid-feedback">
            You must agree before submitting.
          </div>
        </div>
        <input class="btn btn-primary" [disabled]="!myForm.form.valid" type="submit" value="Save">
      </div>
    </form>
  </div>
</div>
<!-- is-valid -->
<!-- is-invaled -->