/* You can add global styles to this file, and also import other style files */
.app-loading .logo {
    width: 100px;
    height: 100px;
    background: url(./assets/img/Nlogo.png) center center no-repeat;
  }